@{
    Layout = null;
}

<div class="modal">
    <div class="modal-dialog wd-550">
        <div class="modal-content">
            <form name="application" ng-submit="save()" class="form-horizontal">
                <div class="modal-header">
                    <h4 class="modal-title">@L("修改密码")</h4>
                </div>
                <div class="modal-body">
                    <div class="row dashboard-header">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@L("原密码")</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" ng-model="model.OldPassword"  placeholder="@L("原密码")" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@L("新密码")</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" ng-model="model.Password"  placeholder="@L("新密码")" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@L("确认密码")</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" ng-model="model.ConfirmPassword"  placeholder="@L("确认密码")" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <div class="txt_tip" _text="密码长度8~16位，其中数字，字母和符号至少包含两种">密码长度8~16位，其中数字，字母和符号至少包含两种</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">验证码</label>
                            <div class="col-sm-9">
                                <div class="inputbg inputcode dis_box">
                                    <label class="labelbox" for="">
                                        <input class="code" type="text" name="icode" id="captcha" ng-model="model.Captcha" autocomplete="off" placeholder="@L("图片验证码")">
                                    </label>
                                    <img alt="@L("图片验证码")" title="@L("看不清换一张")" id="icode_image" class="icode_image code-image chkcode_img" src="@(GlobalSettingManager.GetSettingValueAsync(Mobet.Services.Constants.Settings.Authorization.CaptchaAddress).Result + "?type=SET_PASSWORD")">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <div class="err_tip_independ err_tip">@L("两次输入的新密码不一致")</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-orange wd-100">@L("保存")</button>
                    <button type="button" class="btn btn-default wd-100" ng-click="close()">@L("关闭")</button>
                </div>
            </form>
        </div>
    </div>
</div>